<section id="kontakt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading section-heading-only">Kontakt</h2>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-lg-12">
                  <p class="large">Chcete o nás vědět víc? Přidejte se k nám na facebooku: <a href="https://www.facebook.com/groups/604262332991737/" target="_blank">https://www.facebook.com/groups/604262332991737/</a></p>
                  <p class="large">Zpíváme každý čtvrtek v Cooltouru v Coolně od 17 do 19.00 hodin. Přijďte si nás poslechnout a přidejte se! <a href="http://cooltourova.cz/kontakt/" target="_blank">http://cooltourova.cz/kontakt/</a></p>
                  <p class="large">Chcete nám zavolat?<br><strong>734 693 252</strong> (Veronika) nebo <strong>724 777 539</strong> (Radim)</p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.4409206687305!2d18.292020415904222!3d49.83417223945813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4713e33178557b1b%3A0xac188b9a6a512b5e!2sCooltour!5e0!3m2!1scs!2scz!4v1479947073094" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="mt50"></iframe>
                </div>
            </div>
        </div>
    </section>
