    <section id="ohlasy">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading section-heading-only">Co na to zpěváci?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/vykricniky/dark_yellow.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Michala R. K.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Byla to má první zkušenost s gospelem a moc jsem se bavila. Jste úžasní lidé, kteří drží spolu, podporují se navzájem a celý víkend i koncert byl ve skvělé atmosféře. Velký dík organizátorům, vše bylo báječné A díky za obohacení, jak lidmi, tak i krásnými melodiemi.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/vykricniky/red.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Neli N.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Taková nádherná atmosféra. Jste úžasní a mám Vás všechny moc ráda, jste moje velká rodina. Děkuji za vše.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/vykricniky/green.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dita G.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bylo to krásné seznámení - s úžasnou atmosférou, krásnými melodiemi a nadšenými lidmi! Děkuji za super náladu, co se mi pěkně vpila do kůže&hellip;</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/vykricniky/blue.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Kateřina F.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jsem unavená, ale setkání s Vámi všemi bylo fakt úžasné. Díky za každou jednu minutu prozpívaných gospelových dní.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/vykricniky/yellow.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Honza H.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nádherný weekend lidi :-) Sice návrat do práce je pak jako rána kladivem, ale stálo to za to&hellip; i s cestou z Prahy :-)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/vykricniky/violet.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sylva Š.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hezky pracovní den všem. Unavená, ale pořád plná energie z úžasného víkendu. Pořád si tancuji a zpívám.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/vykricniky/orange.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Karolína A.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Chci Vám všem moc poděkovat! Tímto víkendem jsem opět obohacena nejen na duši :) V hlavě mi stále zní dokola písničky, texty a jak nám to skvěle šlo! Vážně jsem si to moc užila. Na jednu stranu jsem unavená, na druhou ale cítím, že mám v sobě po tomhle víkendu hooodně energie&hellip; Mějte se krásně.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/vykricniky/blue_light.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Barbora K.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Také se přidávám a moc děkuji za tento nezapomenutelný zážitek! Momentálně se cítím jako dítě, které se vrátilo z letního tábora, který si maximálně užilo a je mi tak trochu smutno, že něco tak báječného skončilo&hellip; Díky všem a velký obdiv Sáře! 😘💞</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container container-second">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading section-heading-only">Co o nás říkají?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt50 btopgray pt10">
                  <p class="large">Moravskoslezský deník – 22. 12. 2017</a></p>
                    <div class="tcenter">
                        <a href="img/denik_22_12_2017.jpg" target="_blank" class="imglink"><img class="img-responsive" src="img/denik_22_12_2017_crop.jpg" alt="Moravskoslezský deník"></a>
                    </div>
                </div>
                <div class="col-md-12 mt50 btopgray pt10">
                  <p class="large">Moravskoslezský deník – 11. 9. 2017: <a href="http://is.gd/fgo_msdenik_2017" target="_blank">https://is.gd/fgo_msdenik_2017</a></p>
                    <div class="tcenter">
                        <a href="img/denik_11_9_2017.jpg" target="_blank" class="imglink"><img class="img-responsive" src="img/denik_11_9_2017_crop.jpg" alt="Moravskoslezský deník"></a>
                    </div>
                </div>
                <div class="col-md-12 mt50 btopgray pt10">
                  <p class="large">Moravskoslezský deník – 11. 12. 2016: <a href="http://is.gd/fgo_msdenik" target="_blank">http://is.gd/fgo_msdenik</a></p>
                    <div class="tcenter">
                        <a href="img/msdenik_11_12_2016.jpg" target="_blank" class="imglink"><img class="img-responsive" src="img/msdenik_11_12_2016_crop.jpg" alt="Moravskoslezský deník"></a>
                    </div>
                </div>
                <div class="col-md-12 mt50 btopgray pt10">
                    <p class="large">Reportáž České televize z Gospelové školy FGO – 12. 9. 2016: <a href="https://youtu.be/X3gFGDAgwso" target="_blank">https://youtu.be/X3gFGDAgwso</a></p>
                    <div class="w740 mcenter">
                        <div class="video-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/X3gFGDAgwso" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt50 btopgray pt10">
                    <p class="large">Ostravan.cz – 12. 9. 2016: <a href="http://is.gd/fgo_ostravan">http://is.gd/fgo_ostravan</a></p>
                    <div class="tcenter">
                        <a href="img/ostravan_12_9_2016.jpg" target="_blank" class="imglink"><img class="img-responsive" src="img/ostravan_12_9_2016_crop.jpg" alt="Ostravan"></a>
                    </div>
                </div>
                <div class="col-md-12 mt50 btopgray pt10">
                    <p class="large">Deník – 12. 9. 2016:</p>
                      <img class="img-responsive mcenter" src="img/denik_12_9_2016.jpg" alt="Deník">
                </div>
            </div>
        </div>
    </section>
