    <section id="proc-zpivame-gospel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading section-heading-only">Proč zpíváme gospel?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <p class="large">Zpívání je zdravé a má uklidňující vliv. Gospel znamená „dobrá zpráva“. A těch není nikdy dost :-)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-md-offset-5">
                    <p class="large">Díky gospelu máme příjemný a přirozený kontakt s angličtinou.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <p class="large">Získáváme sebedůvěru a ztrácíme trému.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-md-offset-5">
                    <p class="large">Gospel má v Evropě (především ve Skandinávii, Polsku a Německu) neuvěřitelnou popularitu, která stále roste. Možná je to tím, že se jedná o týmovou aktivitu, kde záleží na každém jednotlivci. Proto si lidé v gospelovém sboru vzájemně pomáhají, aby byl výsledek společného úsilí co nejlepší. A přesně tak tomu je i ve Family Gospel Ostrava.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <p class="large">Získáváme sebedůvěru a ztrácíme trému.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-md-offset-5">
                    <p class="large">Zpíváním pomáháme svému okolí. Rádi se zapojujeme do projektů, které mohou v Ostravě pomoci někomu potřebnému (Mobilní hospic Ondrášek, Hospic sv. Lukáše, SMArt gospel koncerty&hellip;).</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" alt="" src="img/ondrasek.jpg">
                </div>
            </div>
        </div>
    </section>
