    <section id="proc-zpivame-gospel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading section-heading-only">Proč zpíváme gospel?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="yellow large">
                        <li>Zpívání je zdravé a má uklidňující vliv. Gospel znamená „dobrá zpráva“. A těch není nikdy dost :-)</li>
                        <li>Díky gospelu máme příjemný a přirozený kontakt s angličtinou.</li>
                        <li>Získáváme sebedůvěru a ztrácíme trému.</li>
                        <li>Gospel má v Evropě (především ve Skandinávii, Polsku a Německu) neuvěřitelnou popularitu, která stále roste. Možná je to tím, že se jedná o týmovou aktivitu, kde záleží na každém jednotlivci. Proto si lidé v gospelovém sboru vzájemně pomáhají, aby byl výsledek společného úsilí co nejlepší. A přesně tak tomu je i ve Family Gospel Ostrava.</li>
                        <li>Sborový zpěv podporuje týmového ducha. Díky tomu je FGO místem, kde vznikají nová přátelství a dají se realizovat nejbláznivější plány.</li>
                        <li>Zpíváním pomáháme svému okolí. Rádi se zapojujeme do projektů, které mohou v Ostravě pomoci někomu potřebnému (Mobilní hospic Ondrášek, Hospic sv. Lukáše, SMArt gospel koncerty&hellip;).</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mcenter w740">
                        <img class="img-responsive" width="740" alt="" src="img/ondrasek.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>
