    <section id="tym" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tým Family Gospel Ostrava</h2>
                    <!-- TODO <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <h3>Fungování sboru</h3>
            <div class="row">
                {% for member in site.sbor %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h3>Kapela</h3>
            <div class="row">
                {% for member in site.kapela %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h3>Dětský program<span class="smaller"> - už jsme vám řekli, že máme hlídání dětí během zkoušek sboru? ;-)</span> </h3>
            <div class="row">
                {% for member in site.deti %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
